body{
    display: grid;
    grid-template-columns: 1% auto auto;
}

.gui-container {
    display: block;
    grid-column: 2/3;
    background-color: red;
    width: 900px;
    height: 600px;
}

.register-container{
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(3, 33.3%);
    float: left;
    width: 40%;
    height: 40%;
    background-color: rgb(58, 58, 58);
    margin-top: 10px;
    margin-left: 10px;
}

.pc-container{
    display: block;
    grid-column: 1;
    grid-row: 1/3;
    background-color: darkgrey;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
    border: 2px solid grey;
    margin-bottom: -5px;
}

#pc-content{
    display: inline-block;
    border: 1px solid black;
    width: 80%;
}

.ir-container{
    display: block;
    grid-column: 3;
    grid-row: 1/4;
    background-color: darkgrey;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid grey;
}

#ir-command{
    display: inline-block;
    border: 1px solid black;
    width: 80%;
}

#ir-content{
    display: inline-block;
    border: 1px solid black;
    width: 80%;
}

#bus{
    display: block;
    grid-column: 1/4;
    grid-row: 4/6;
    border: 2px solid grey;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 3.78%;
    padding-top: 2px;
    width: 90%;
    text-align: center;
    background-color: darkgrey;
}

.acc-container{
    display: block;
    grid-column: 1;
    grid-row: 7/9;
    text-align: center;
    background-color: darkgrey;
    border: 2px solid grey;
    margin-left: 10px;
}

#acc-content{
    display: inline-block;
    border: 1px solid black;
    margin-top: 5px;
    width: 80%;
    margin-bottom: 1px;
}

.mmu-container{
    display: block;
    grid-column: 3;
    grid-row: 6/11;
    text-align:center;
    background-color:darkgrey;
    border:2px solid grey;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mmu-content{
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border: 2px dashed grey;
}

#mar-content{
    display:inline-block;
    border: 1px solid black;
    width:80%;
    margin-top: 5px;
}

#mdr-content{
    display:inline-block;
    border: 1px solid black;
    width:80%;
}

.mem-container{
    display: grid;
    float: right;
    grid-template-columns: repeat(9, 11.111%);
    grid-template-rows: repeat(65, auto);
    width: 50%;
    height: 95%;
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
    background-color: black;
    border: 1px solid lightslategrey;
}

#mem-header{
    display: inline-grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-column: 2/10;
    grid-row: 1;
    height: 100;
    //padding-right: 7.5px;
    background-color: green;
}

#mem-bit{
    display: block;
    color: white;
    float: left;
    padding-top: 10%;
    border: 1px solid white;
    text-align: center;
}

#mem-locs{
    display: inline-grid;
    grid-template-columns: repeat(9, 11.11111%);
    grid-column: 1/10;
    grid-row: 2/66;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: pink;

}

#mem-loc{
    color: grey;
    text-align: center;
    border: 1px solid white;
}

#fileinput {
    grid-column: 2;
}

input{
    margin-left: 10px;
    margin-top: 5px;
}

button{
    background-color: white;
}
